@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Manrope', sans-seif;
}

.header {
    letter-spacing: 0.25em;
}

.shadow:hover {
    box-shadow: 0px 0px 30px 1px hsl(150, 100%, 66%);
}
